<form method="post" asp-controller="Admin" asp-action="AssignTeachers">
    @if (ViewBag.SubjectTeachers != null)
    {
        @foreach (var subject in ViewBag.SubjectTeachers)
        {
            var subjectInfo = subject.Key;
            <h4 class="text-center mt-5">For subject: @subjectInfo.SubjectName, the available teachers are:</h4>

            <table class="table table-bordered table-striped">
                <tr>
                    <td class="text-center">Teacher Id</td>
                    <td class="text-center">Teacher Name</td>
                    <td class="text-center">Designation </td>
                    <td class="text-center">Working Hours</td>
                    <td class="text-center"></td>
                </tr>
                @foreach (var teacher in subject.Value)
                {
                    <tr>
                        <td class="text-center">@teacher.TeacherId</td>
                        <td class="text-center">@teacher.TeacherName</td>
                        <td class="text-center">@teacher.Designation</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                     style="width: @(teacher.WorkingHours * 100 / 36)%;"
                                     aria-valuenow="@teacher.WorkingHours" aria-valuemin="0" aria-valuemax="36">
                                    @teacher.WorkingHours / 36
                                </div>
                            </div>
                        </td>
                        <td class="text-center">
                            <input type="radio" name="selectedTeachers[@subjectInfo.SubjectId]" value="@teacher.TeacherId" required>
                        </td>
                    </tr>
                }
            </table>

            <input type="hidden" value="@ViewBag.Dept1" name="Dept" />
            <input type="hidden" value="@ViewBag.Year1" name="Year" />
        }

    }
    else
    {
        <p class="text-center">No data available</p>
    }

    <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary">Assign Selected Teachers</button>
    </div>
</form>
